body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content-container {
  padding: 2px;
  border: 1px solid red;
  margin: 2px;
  color: gray;
  height: 75vh;
  overflow-y: auto;
}

.title-container {
  border: 1px solid red;
  font-size: small;
  margin: 2px;
  color: rgb(0, 255, 255);
}

.likeIconStyle {
  vertical-align: middle;
  flex: 1;
}

.li-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
